@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}
body{
    background-color: #faf0e4;
}
.body_sin_scrollbar{
    overflow: hidden;
}
/* HEADER y NAV BAR */
header {
    display: flex;
    background: url(./Media/Banner/1.jpg);
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 180px;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
/* LOGO */
.img_logo{
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    inline-size: 180px;
    flex-shrink: 1;
}
/* NAV BAR */
.site_nav{
    list-style-type: none;
    text-align: center;
    margin-bottom: 16px;
}
ul li a{
    color: black;
    padding: 0 4px;
    text-decoration: none;
}
.nav_menu{
    background-color:#f3eade;
    border:#442b0c 2px solid;
    display: inline-block;
    margin-right: 10px;
    font-family: 'Cinzel', serif;
    font-weight: 500;
    border-radius: 25px;
    padding: 8px;
}
.nav_menu:hover{
    background-color: white;
    color: #D7C8B6;
}
/* TERMINA HEADER Y NAV BAR */

/* INDEX */

/* Todo este codigo que puse aca lo cambio cuando aprenda flexbox, esta es como una solucion pobre a un problema de conocimiento. */

.aling_index{
    margin-top: -5%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: nowrap;
}
.img_index{
    object-fit: cover;
    width: 800px;
    flex-shrink: 5;
}
.text_box_index{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    flex-shrink: 1;
    align-items: center;
}
.titulo_index {
    font-family: 'Cinzel', serif;
    font-size: 80px;
    text-align: center;
    padding-bottom: 50px;
}
.texto_index{
    width: 500px;
    break-inside: auto;
    padding: 20px;
    font-size: 25px;
    color: rgb(3, 26, 6);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.index_link{
    font-family: 'Cinzel', serif;
    font-weight: 600;
    font-size: 40px;
    margin-left: 20;
    width: 400px;
    text-align: center;
    text-transform: capitalize;
    text-decoration: none;
    color: black;
    background-color: #d99771;
    border: #442b0c 2px solid;
    border-radius: 25px;
}
.index_link:hover{
    background-color: white;
    color: #D7C8B6;
}



/* Todo este codigo que puse aca lo cambio cuando aprenda flexbox, esta es como una solucion pobre a un problema de conocimiento. */
/* FIN INDEX */
/* MENU TODO EL MENU SE REACE CON FLEXBOX */
.h1_menu{
    margin-top: 12%;
    text-align: center;
    font-size: 70px;
    margin-bottom: 40px;
}
.h2{
    display: flex;
    font-size: 50px;
    margin-left: 10%;
    margin-right: 30%;
    justify-content: space-between;
}
.abuelo_flex{
    display: flex;
}
.menu_padre{
    display: flex; 
    width: 50%;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 10%;
}
.img_menu img{
    width: 400px;
    height: 400px;
    object-fit: cover;
}
.text_menu{
    font-size: 40px;
}

/* FIN MENU */

/* SERVICIOS  Reacer con flexbox para la segunda entrega*/
.h1_servi{
    margin-top: 230px;
    font-family: 'Cinzel', serif;
    font-size: 60px;
    text-align: center;
}
.alignment{
    margin-left: 220px;
}
.servicios_sin_flex{
    float: left;
    margin-top: 10px;
    text-align: center;
    padding: 40px;
}
.h_servi{
    font-family: 'Cinzel', serif;
    text-decoration: underline;
    margin-bottom: 10px;
    background-color: #D7C8B6;
    border: 2px solid #442b0c;
    border-radius: 5px;
}
.img_servi{
    border: #442b0c 2px solid;
    border-radius: 12px;
}
.p_servi{
    width: 400px;
    word-break: break-word;
    font-family: 'Cinzel', serif;
    font-weight: 600;
    text-align: center;
}
.p_servi_long{
    width: 400px;
    word-break: break-word;
    font-family: 'Cinzel', serif;
    font-weight: 600;
    text-align: center;
}

/* FIN SERVICIOS */

/* UBICACION (PASAR A FLEXBOX PARA LA SEGUNDA ENTREGA)*/
.ubi_flex{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
}
.ubi_text{
    margin-top: 250px;
    font-family: 'Cinzel', serif;
    font-size: 40px;
    text-align: center;
    background-color: #D7C8B6;
    border:#442b0c 2px solid;
    border-radius: 25px;
    padding: 20px;
}
.ubi_map{
    margin-top: 250px;
    background-color: #D7C8B6;
    border:#442b0c 3px solid;
}
.ubi_ubi p{
    font-size: 25px;
    margin-top: 40px;
}

/* FIN UBICACION */

/* CONTACTO */
.contact_box{
    margin: 220px 0px 0px 650px;
    border: 2px solid #442b0c ;
    width: 600px;
    height: 600px;
    padding: 30px;
    border-radius: 15px;
    background-color: #f2caa7;
    box-shadow: 0 0 5px #442b0c;
}
.titulo_form{
    font-family: 'Cinzel', serif;
    font-weight: 500;
    font-size: 40px;
    text-align: center;
    margin-bottom: 20px;
}
.info_form{
    font-family: 'Cinzel', serif;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
}
.comm_form{
    font-family: 'Cinzel', serif;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
}
form div input, form div textarea{
    width: 100%;
    padding: 12px 20px;
    margin: 8px ;
    box-sizing: border-box;
    font-size: 20px;
    border: 1px solid #442b0c;
    border-radius: 10px;
}
input[type=submit], input[type=reset] {
    background-color: #442b0c;
    border: none;
    color: white;
    padding: 8px 12px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}
::placeholder {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* FIN CONTACTO */

/* FOOTER */
footer{
    background:url(./Media/Banner/1.jpg);
    background-size: cover;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10%;
}
.footer_flex{
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: space-around;
}
.footer_text{
    font-family: 'Cinzel', serif;
    font-size: 20px;
    font-weight: 600;
}
.footer_contacto{
    margin-left: 20;
    width: 140px;
    text-align: center;
    text-decoration: none;
    font-weight: 500;
    border-radius: 25px;
    padding: 8px;
    background-color:#f3eade;
    border:#442b0c 2px solid;
}
.footer_contacto:hover{
    background-color: white;
    color: #D7C8B6;
}
.fa-instagram:before {
    content: "\f16d";
    font-size: 40px;}
footer section a{
    color: black;
}
